<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="TestLogin" value="user" />
      <add key="TestPassword" value="password" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthService" />
                <binding name="BasicHttpBinding_IHeresyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50305/Services/HeresyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeresyService"
                contract="HeresyService.IHeresyService" name="BasicHttpBinding_IHeresyService" />
            <endpoint address="http://localhost:54244/Services/AuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="HeresyAuthService.IAuthService" name="BasicHttpBinding_IAuthService" />
        </client>
    </system.serviceModel>
</configuration>