<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHeresyService" />
                <binding name="BasicHttpBinding_IHeresyAuthService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50305/HeresyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeresyService"
                contract="HeresyService.IHeresyService" name="BasicHttpBinding_IHeresyService" />
            <endpoint address="http://localhost:54244/Services/HeresyAuthService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeresyAuthService"
                contract="HeresyAuthService.IHeresyAuthService" name="BasicHttpBinding_IHeresyAuthService" />
        </client>
    </system.serviceModel>
</configuration>